//链接页面
@media (min-width: 1024px) {
    .article-list--compact.links {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        background: none;
        box-shadow: none;

        article {
            background: var(--card-background);
            border: none;
            box-shadow: var(--shadow-l2);
            margin-bottom: 8px;
            border-radius: 10px;
            transition: transform .2s;

            &:not(:nth-child(3n)) {
                margin-right: 8px;
            }

            // 添加hover效果
            &:hover {
                transform: translateY(-3px);
                box-shadow: var(--shadow-l3);
            }
        }
    }
}

.article-list--title {
    color: var(--accent-color);
    font-weight: 700;
    font-size: 1.6rem;
    margin-left: 10px;
}

.article-list--compact.links {
    // 缩小连接组标题与下面链接的距离
    margin-top: -20px;
}

.article-image>img {
    // 给文章卡片、友链卡片等的图标添加圆角
    border-radius: 10px;
}