<!-- 浏览量、访客、访问次数 -->
<script>
    (async () => {
        const spanElement = document.getElementById('visit-info')
        let pageviews = 0
        let visitors = 0
        let visits = 0

        const endOfDay = new Date()
        endOfDay.setHours(23, 59, 59, 999)
        const endAt = endOfDay.getTime()
        const url = `https://umami.trrw.tech/api/websites/0d3ae99b-13c2-453f-8487-2f4e553b79c3/stats?startAt=1751254971548&endAt=${endAt}&unit=day&timezone=Asia%2FShanghai`

        const headers = {
            'authorization': 'Bearer zoF32eaXAyPS2673KpK6rH4Qv6Qw1YuubYWKLt/3D0nI6wSCDC7aWTHJNlFAlmasWv4XEWwxXLhhz79ReBu8YRmSoq2NNN5dXdewKqGXnWRqjbDhuV2zKGG7KjzbDN6cXXee7Sg/ttm4ih5lc68PaYCUOALT8P1XhKYHrxttpnw+w8Pnf8OoATbYK8B6NtSVUq6/6yjdKup9zyCjjUE+YWJmV6E+eKRiZ0wrw1WGRNtfNYe+N4PtVc4zCr8v9q73uJfBIljeGWqjuLfLTYiVYYDGC5g8A5yjUKmjlGnWkvaluuEWthueuoO5eTcgx0sO4UIHB/YGzbIvA/5RVNQ4pw2ZnQ38fHdF211pPHv4SXvIGE6zHVhiIDDnYaJy',
        }
        try {
            const res = await fetch(
                url,
                { method: 'GET', headers: headers },
            )
            const viewsData = await res.json()
            pageviews = viewsData.pageviews || 0
            visitors = viewsData.visitors || 0
            visits = viewsData.visits || 0
        } finally {
            spanElement.innerText = `浏览量${pageviews} · 访客${visitors} · 访问次数${visits}`
        }
    })()
</script>

<!-- 文章浏览量 -->
<script>
    (async () => {
        const els = document.querySelectorAll('.article-analysic')
        if (!els.length) return

        const endOfDay = new Date()
        endOfDay.setHours(23, 59, 59, 999)
        const endAt = endOfDay.getTime()

        const headers = {
            'authorization': 'Bearer zoF32eaXAyPS2673KpK6rH4Qv6Qw1YuubYWKLt/3D0nI6wSCDC7aWTHJNlFAlmasWv4XEWwxXLhhz79ReBu8YRmSoq2NNN5dXdewKqGXnWRqjbDhuV2zKGG7KjzbDN6cXXee7Sg/ttm4ih5lc68PaYCUOALT8P1XhKYHrxttpnw+w8Pnf8OoATbYK8B6NtSVUq6/6yjdKup9zyCjjUE+YWJmV6E+eKRiZ0wrw1WGRNtfNYe+N4PtVc4zCr8v9q73uJfBIljeGWqjuLfLTYiVYYDGC5g8A5yjUKmjlGnWkvaluuEWthueuoO5eTcgx0sO4UIHB/YGzbIvA/5RVNQ4pw2ZnQ38fHdF211pPHv4SXvIGE6zHVhiIDDnYaJy',
        }
        for (const el of els) {
            const search = el.dataset.path || '/'
            const url = `https://umami.trrw.tech/api/websites/0d3ae99b-13c2-453f-8487-2f4e553b79c3/metrics/expanded?startAt=1751254971548&endAt=${endAt}&unit=day&timezone=Asia%2FShanghai&search=${search}&type=path`
            let pageviews = 0
            try {
                const res = await fetch(
                    url,
                    { method: 'GET', headers: headers },
                )
                const data = await res.json()
                if (Array.isArray(data) && data.length > 0)
                    pageviews = data[0].pageviews || 0
            } finally {
                el.textContent = `${pageviews} 阅读`
            }
        }
    })()
</script>