name: Sync to server
on:
    push:
        branches:
            - main
jobs:
    build:
        runs-on: ubuntu-latest
        steps:
            - name: checkout
              uses: actions/checkout@v3
              with:
                submodules: true
                fetch-depth: 0
            - name: Setup Hugo
              uses: peaceiris/actions-hugo@v3
              with:
                hugo-version: '${{ steps.hugo-version.outputs.HUGO_VERSION }}'
                extended: true
            - name: Build
              run: hugo --minify
            - name: Deploy to gh-pages
              uses: peaceiris/actions-gh-pages@v3
              with:
                github_token: ${{ secrets.GITHUB_TOKEN }}
                publish_dir: ./public
                publish_branch: gh-pages
                commit_message: "Deploy from GitHub Actions"
